{{> navbar }}

<article class="post">
  <a class="post-title" href="/post/{{post.id}}">
    <h2>{{post.title}}</h2>
  </a>
  <p>
    {{post.post_text}}
  </p>
<div class="meta">
  by {{post.user.username}} on {{format_date post.created_at}}
  <span>|</span>
  <p>{{post.comments.length}} {{format_plural "comment" post.comments.length}}</p>
</div>
</article>

<!-- conditionally  render the form element if the user is logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea id="comment-text" rows="4" name="comment-text"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}

{{#if post.comments.length}}
  {{> comments post.comments}}
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}